<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - DoAnASP.NET1</title>
    @await Html.PartialAsync("_HeadPartial.cshtml");
  
</head>
<body>
    <partial name="_LoginPartial">
    @await Html.PartialAsync("_HeaderPartial.cshtml");
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_FooterPartial.cshtml");
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
