@model DoAnASP1.Areas.Admin.Models.LoaiSPModels

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LoaiSPModels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaLoai" />
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TT" class="control-label"></label>
                <input asp-for="TT" class="form-control" />
                <span asp-validation-for="TT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNCC" class="control-label"></label>
                <select asp-for="MaNCC" class="form-control" asp-items="ViewBag.MaNCC"></select>
                <span asp-validation-for="MaNCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
